@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.form-section{
  width: 320px;
  margin: 16px auto;
}

.rodape{
  display: flex;
  justify-content:center;
  background-color: cornflowerblue;
  color: whitesmoke;
  padding: 6px;
  margin-right: 0px;
  bottom: 0;
  width: 100%;
  position: fixed;
}

body {
  background-color: #212121;
  font-family: "Rubik", sans-serif;
  color: antiquewhite;
  width:100%;
}

.icone-home{
  font-size: 24px;
  color: white;
  padding: 8px;
}

.inicio{
  background-color: cornflowerblue;
  padding: 10px;
}

.topo{
  color: white;
}

.home{
  text-align: center;
  height:629px;
  
}

.imagem-home{
  height: 100%;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.invalid {
  color: red;
}

.form-section {
  width: 320px;
  margin: 16px auto; 
}

.imagem-notfound{
  text-align: center;
  height: 72vh;

}
