@import "bootstrap/dist/css/bootstrap.min.css";

.form-section{
  width: 320px;
  margin: 16px auto;
}

.rodape{
  display: flex;
  justify-content:center;
  background-color: cornflowerblue;
  color: whitesmoke;
  padding: 6px;
  margin-right: 0px;
  margin-bottom: 0;
}

body {
  background-color: #212121;
  font-family: monospace;
  color: antiquewhite;
}

.icone-home{
  font-size: 24px;
  color: white;
  padding: 8px;
}

.inicio{
  background-color: cornflowerblue;
  padding: 10px;
}

.topo{
  color: white;
}

.home{
  text-align: center;
  height:629px;
  
}

.imagem-home{
  height: 629px;
  width: 210vh;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.invalid {
  color: red;
}

.form-section {
  width: 320px;
  margin: 16px auto; 
}